@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  min-height: 100vh;
  background-color: white;
  color: #111;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: white;
  }
}
